body{
  font-family: 'Helvetica', 'Arial', sans-serif;
}

table tr td{
  width: 10px;
  height: 10px;
  border: 1px solid tomato;
  cursor: pointer;
  color: tomato;
  background-color: white;
}

.on {
  color: white;
  background-color: tomato;
}
