body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

table tr td {
    width: 10px;
    height: 10px;
    border: 1px solid gray;
}

.on {
    color: white;
    background-color: black;
}

form div span {
    margin-left: 1em;
}
